body {font-family: arial;}

h1 {color: blue;
	font-family: Georgia;
	font-size: 160;
	}

h2 {color:gray;
	font-size: 125
	}
	
p  {font-size: 100;
	line-height: 20px;
	text-align: justify;
	text-indent: 15px;
   }	
   
img {height: 300px;}

